# ---- CONFIGURACIÓN DE LOGIN (GOOGLE OAUTH) ----
# Necesitas obtener estas credenciales en la consola de Google Cloud (APIs & Services > Credentials)
GOOGLE_CLIENT_ID=TU_CLIENT_ID_AQUI
GOOGLE_CLIENT_SECRET=TU_CLIENT_SECRET_AQUI
REDIRECT_URI=http://localhost:8501

# ---- CONFIGURACIÓN BASE DE DATOS (GOOGLE SHEETS) ----
# Indica el nombre exacto de tu hoja de cálculo
SPREADSHEET_NAME=Polla Mundialista
# (Las credenciales de GCP deben estar en un archivo credenciales_gcp.json ubicado en la raíz del proyecto)
